<!DOCTYPE html>
html(lang="en")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(charset="UTF-8")
  link(rel="stylesheet" href="assets/css/style.css")
  link(rel="shortcut icon" href="favicon.ico")
  title Main | TAGROUGE
  body
    header
      .container
        nav
          .left-nav
            a(href="" title="Contacts").contacts
              img(src="assets/images/contacts-icon.svg" alt="Contacts")
            a(href="" title="Stores").stores
              img(src="assets/images/location-icon.svg" alt="Location")
          .right-nav
            a(href="" title="Share").share
              img(src="assets/images/share-icon.svg" alt="Share")
        .logo
          a(href="")
            img(src="assets/images/tagrouge-logo.svg" alt="Tagrouge")
    main
      section.category-filter
        .container
          nav
            ul
              li
                a(href="#" class="active") All
              li
                a(href="#") Jackets
              li
                a(href="#") Footwear
              li
                a(href="#") Bags
              li
                a(href="#") Accessories

      